# python temporary files
*.pyc

# editor autosaves, data and file browser files
$~
.idea/
.directory
.cache/

# temporary data
temp

# packaging and testing
.tox/
*.egg-info/
.eggs/
*.egg
build/
dist/
.coverage
src/escpos/version.py
.hypothesis
.pytest_cache/

# testing temporary directories
test/test-cli-output/

# vim swap files
*.swp
*.swn
*.swo

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
