<dev@pkanzler.de>                                    <patrick.kanzler@fablab.fau.de>
<manpaz@gmail.com>                                   <manpaz@bashlinux.com>
Manuel F Martinez <manpaz@gmail.com>                 manpaz <manpaz@bashlinux.com>
<emailofdavis@gmail.com>                             <davis.goglin@oregonicecream.com>
Davis Goglin <emailofdavis@gmail.com>                davisgoglin <emailofdavis@gmail.com>
Michael Billington <michael.billington@gmail.com>    Michael <michael.billington@gmail.com>
Cody (Quantified Code Bot) <cody@quantifiedcode.com> Cody <cody@quantifiedcode.com>
Renato Lorenzi <renato.lorenzi@senior.com.br>        Renato.Lorenzi <renato.lorenzi@senior.com.br>
Ahmed Tahri <nyuubi.10@gmail.com>                    TAHRI Ahmed <nyuubi.10@gmail.com>
Michael Elsdörfer <michael@elsdoerfer.com>           Michael Elsdörfer <michael@elsdoerfer.info>
Juanmi Taboada <juanmi@juanmitaboada.com>            Juanmi Taboada <juanmi@juanmitaboada.com>
csoft2k <csoft2k@hotmail.com>
Sergio Pulgarin <sergio.pulgarin@gmail.com>
reck31 <rakesh.gunduka@gmail.com>
Alex Debiasio <alex.debiasio@thinkin.io>             <alex.debiasio@studenti.unitn.it>
Maximilian Wagenbach <maximilian.wagenbach@native-instruments.de>
