language: python
sudo: false
cache: pip
addons:
  apt:
    packages:
      - graphviz
matrix:
  include:
    - python: 2.7
      env: TOXENV=py27
    - python: 3.3
      env: TOXENV=py33
    - python: 3.4
      env: TOXENV=py34
    - python: 3.5
      env: TOXENV=py35
    - python: 3.5-dev
      env: TOXENV=py35
    - python: nightly
      env: TOXENV=py36
    - python: pypy
      env: TOXENV=pypy
    - python: pypy3
      env: TOXENV=pypy3
    - python: 2.7
      env: TOXENV=docs
  allow_failures:
    - python: 3.5-dev
    - python: nightly
before_install:
    - pip install tox codecov
script:
    - tox
    - codecov
