pyusb
Pillow>=12.3.0
qrcode>=8.2
pyserial
sphinx-rtd-theme==3.1.0
setuptools
setuptools-scm
docutils>=0.23
sphinxcontrib-spelling>=8.0.2
python-barcode>=0.16.1,<1
importlib-metadata
importlib_resources
sphinxcontrib.datatemplates
sphinx-argparse
sphinx-autodoc-typehints
pycups
